PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
DISABLE_TURNSTILE=
PUBLIC_DISABLE_TURNSTILE=
DISABLE_MODERATION=
PUBLIC_MEDIA_URL=https://media.devjakob.com
PUBLIC_POSTS_PATH=posts
COMMENTS_SALT=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_AI_TOKEN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
AUTH_SECRET=