@import url('https://fonts.cdnfonts.com/css/Michroma');
@import "tailwindcss";

html, body {
    background-color: black;
}

button {
    &:hover {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 6px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

html.dark ::-webkit-scrollbar-thumb {
    background: #333333;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #cccccc transparent;
}

html.dark * {
    scrollbar-color: #333333 transparent;
}